{% extends "master.html" %}


{% block Title %}
      <div class='w3-row-padding'>
        <br>
          <div class='w3-col w3-opacity '>
            <hr class="w3-clear">
        <h4 class="text-center">Results for the provided text</h4>
          </div>
      </div>
      {% endblock %}


{% block content %}
    <!-- Results --> 
    <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
        <p><h3>MESSAGE :</h3><i>"{{query}}"</i></p>
        <hr class='w3-clear'/>
        <p><h4>Result for Labels >><h4></p>
        <p>
            {% for category, classification in classification_result.items() %}
            {% if classification == 1 %}
                <span class="w3-tag w3-small w3-theme-d5">{{category.replace('_', ' ').title()}}</span>
                <br>
            {% else %}
            <span class="w3-tag w3-small w3-theme-l1">{{category.replace('_', ' ').title()}}</span>
            <br>
            {% endif %}
            {% endfor %}
        </p>
        </div>
    </div>
    <br>
{% endblock %}
